* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 980px;
    margin: auto;
}

.header-main {
    height: 200px;
    background-color: black;
}

.nav-main {
    height: 40px;
    background: crimson;
}

.content-main {
    height: 800px;
    background: pink;
}

.footer-main {
    height: 80px;
    background: #000;
}