.spectialtext {
    font-size: 12pt;
    font-style: italic;
    color: #FF0000;
}

.notes {
    font-size: 11pt;
    font-style: italic;
    color: #e7e7e7;
}

.title {
    color: #009294;
    font-style: italic;
}

.wrapper {
    width: 800px;
    border: 1px solid #CCCCCC;
    color: black;
}

.subp {
    border: 1px solid;
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

.textlink {
    color: #000000;
    font-size: 12pt;
}